
@font-face {
  font-family: baskerville;
  src: url("./fonts/Baskerville.ttc");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: baskerville;
	color: #6F7F7A;
}

.wrapper {
	width: 1050px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

.heading a {
  text-decoration: none;
  color: #98ADA6;
  font-size: 5rem;
  font-weight: 300;
}

.seperator{
  height: 1px;
  width: 100%;
  background-color: #CCCCCC;
  margin-bottom: 5px;
}

.img-necklace {
  width: 100%;
}

.img-necklace img {
  width: 100%;
  border: solid 5px #98ADA6;
}

.about h3 {
  font-size: 2rem;
  
}



