/*////////////// Fonts //////////////*/
@font-face {
  font-family: baskerville;
  src: url("./fonts/Baskerville.ttc");
}
/* link the web font used for the level 1 heading here */


/*////////// Global Styles //////////*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: baskerville;
	color: #6F7F7A;
}

.wrapper {
	width: 1050px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
	position: relative;
	top: 0;
}

/* Write all remaining styles here */
h1 a {
  text-decoration: none;
  color: #98ADA6;
  font-size: 5rem;
  font-weight: 300;
  margin-top: 0;
  border-bottom: solid 1px #CCCCCC;
  padding-bottom: 18px;
}